<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClasesNegocio.My.MySettings.Database1ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Reportes\Database1.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="ClasesNegocio.My.MySettings.GANADERAConnectionString"
            connectionString="Data Source=INTEGRASRV;Initial Catalog=GANADERA;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClasesNegocio.My.MySettings.GANADERAConnectionString1"
            connectionString="Data Source=INTEGRASRV\;Initial Catalog=GANADERA;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ClasesNegocio.My.MySettings.GANADERAConnectionString2"
            connectionString="Data Source=INTEGRA05\SQLEXPRESS;Initial Catalog=GANADERA;User ID=sa;Password=1nt3gr@2006"
            providerName="System.Data.SqlClient" />
        <add name="ClasesNegocio.My.MySettings.PruebasGanaderaConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PruebasGanadera;Persist Security Info=True;User ID=sa;Password=1nt3gr@2006"
            providerName="System.Data.SqlClient" />
        <add name="ClasesNegocio.My.MySettings.MeatLa20ConnectionString"
            connectionString="Data Source=INTEGRASRV4;Initial Catalog=MeatLa20;Persist Security Info=True;User ID=sa;Password=int3gr@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
