<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug (Any CPU)&quot; configuration in project &quot;D:\Respaldo\MEAT\ClasesNegocio\vbproj&quot;." ToolsVersion="10.0">
  <RuleHintPaths>
    <Path>C:\Archivos de programa\Microsoft Visual Studio 8\Team Tools\Static Analysis Tools\FxCop\\rules</Path>
  </RuleHintPaths>
</RuleSet>